.header-summary {
  display: flex;
  height: 89px;
  padding: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.header-summary i {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: var(--Border-10, 10px);
  background: var(--colors-1-primary-8, rgba(0, 69, 173, 0.08));
}
.header-summary svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  background: var(--colors-1-primary-8, rgba(0, 69, 173, 0.08));
}
.transactions-count-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.transactions-count-details h4 {
  color: var(--colors-4-misty-100, #9ca0b0);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}
.transactions-count-details p {
  color: var(--colors-2-alpha-100, #060722);
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .transactions-count-details p {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .transactions-count-details p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .transactions-count-details p {
    font-size: 14px;
  }
  .transactions-count-details h4 {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .transactions-count-details p {
    font-size: 13px;
  }
  .transactions-count-details h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .transactions-count-details p {
    font-size: 12px;
  }
}
